git+https://github.com/mongodb/sonar@bc7bf7732851425421f3cfe2a19cf50b0460e633
github-action-templates==0.0.4
docker==7.1.0
kubernetes==26.1.0
jinja2==3.1.4
MarkupSafe==2.0.1
PyYAML==6.0.1
black==24.3.0
mypy==0.961
tqdm==v4.66.3
boto3==1.16.21
pymongo==4.6.3
dnspython==2.6.1
requests==2.32.3
ruamel.yaml==0.17.9
semver==2.13.0
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools==78.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3<2 # not directly required, pinned by Snyk to avoid a vulnerability
