name: Release Images
on:
  pull_request_review:
    types: [submitted]

jobs:
  release-images:
    runs-on: ubuntu-latest
    if: startsWith(github.event.pull_request.title, 'Release') && github.event.review.state == 'approved'
    strategy:
      matrix:
        include:
          - pipeline-argument: operator-ubi
            release-key: mongodb-kubernetes-operator
          - pipeline-argument: version-post-start-hook-init
            release-key: version-upgrade-hook
          - pipeline-argument: readiness-probe-init
            release-key: readiness-probe
          - pipeline-argument: agent-ubi
            release-key: mongodb-agent
          - pipeline-argument: agent-ubuntu
            release-key: mongodb-agent
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'

      - name: Install Python Requirements
        run: pip install -r requirements.txt
      - run: pip install "git+https://${{ secrets.SONAR_GITHUB_TOKEN }}@github.com/10gen/sonar.git@0.0.10"
      - name: Determine if release is needed
        id: release_status
        run: |
          OUTPUT=$(scripts/ci/determine_required_releases.py ${{ matrix.release-key }}) &&
          echo "::set-output name=OUTPUT::$OUTPUT"

      - name: Login to Quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Publish Image To Quay
        if: steps.release_status.outputs.OUTPUT == "unreleased"
        run: python pipeline.py --image-name ${{ matrix.pipeline-argument }} --release true
        env:
          MONGODB_COMMUNITY_CONFIG: "${{ env.GITHUB_WORKSPACE }}/scripts/ci/config.json"

      - name: Merge Release PR
        uses: pascalgn/automerge-action@v0.14.2
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: ""
          MERGE_METHOD: squash
          MERGE_COMMIT_MESSAGE: "Release MongoDB Kubernetes Operator v${{ steps.release_status.outputs.OUTPUT }}"

  draft-github-release:
    runs-on: ubuntu-latest
    needs: [release-images]
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Determine Release Tag
      id: release_tag
      run: |
        OUTPUT=$(jq -r '."mongodb-kubernetes-operator"' < ${{ env.GITHUB_WORKSPACE }}/release.json) &&
        echo "::set-output name=OUTPUT::$OUTPUT"
    - uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.release_tag.outputs.OUTPUT }}
        name: MongoDB Kubernetes Operator
        bodyFile: "${{ env.GITHUB_WORKSPACE }}/dev_notes/RELEASE_NOTES.md"
        draft: true
        token: ${{ secrets.GITHUB_TOKEN }}
